
  /* Estilos para el modal */
  .modal {
    display: block; /* Asegura que el modal sea visible */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
