:root{
    --textos: 'Barlow', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.navbar{
    height: 72px;
    background-color: #fff;
}
.container{
    min-width: 100%;
}
.nav-link{
    color: var(--textos, #424242);
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.brand{
    width: 125px;
    height: 64px;
    object-fit: cover;
    margin-left: 14vw;
}
.nav-items{
    justify-content: space-between;
    gap: 40px;
}
/* .banner-container{
    width: 100vw;
    height: 45vh;
} */
.banner-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media  screen and (max-width:992px) {
    .brand{
        margin: 0;
    }    
    .navbar-brand{
            order: 2;
            margin: 0 auto;
        }
    .nav-items{
        gap: 26px;
    }
    .nav-icons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }
    
}
